POSTGRES_USER=
POSTGRES_PASSWORD=

APP_USER=
APP_PASSWORD=
APP_DB=
# See https://www.prisma.io/docs/concepts/database-connectors/postgresql
# Host value is the default container name for postgres - @nest-postgres:5432
# change it when changing the container name
APP_DATABASE_URL=postgresql://${APP_USER}:${APP_PASSWORD}@nest-postgres:5432/${APP_DB}?schema=public
# To have acccess to the database container from your local machine 
# use the DATABASE_URL below which replaces nest-postgres (container name) with localhost
# APP_DATABASE_URL=postgresql://${APP_USER}:${APP_PASSWORD}@localhost:5432/${APP_DB}?schema=public

# For SuperTokens
SUPERTOKENS_USER=
SUPERTOKENS_PASSWORD=
SUPERTOKENS_DB=

POSTGRESQL_CONNECTION_URI=postgresql://${SUPERTOKENS_USER}:${SUPERTOKENS_PASSWORD}@nest-postgres:5432/${SUPERTOKENS_DB}?schema=public

ENABLE_SWAGGER=true